.hero {
	padding-top: 40px;
	&__container {
		max-width: 1640px;
		&-project {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 12px;
			column-gap: 22px;
		}
		&-person {
			display: flex;
			align-items: center;
			column-gap: 12px;
		}
	}
	&__table {
		display: block;
		padding: 12px;
		width: 100%;
		border-spacing: 0px;
		overflow-x: auto;
	}
	&__row {
		min-height: 53px;
		& .hero__cell:first-child {
			border-left: none;
			max-width: 25%;
			width: 100%;
		}
		& .hero__cell:nth-child(2) {
			width: 100%;
			max-width: 12%;
		}
		& .hero__cell:nth-child(3) {
			width: 100%;
			max-width: 4%;
		}
		& .hero__cell:nth-child(4) {
			width: 100%;
			max-width: 4%;
		}
		& .hero__cell:nth-child(5) {
			width: 100%;
			max-width: 4%;
		}
	}
	&__cell {
		border-left: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
		padding: 14px 18px;
		font-weight: 400;
	}
	&__avatar {
		width: 24px;
		height: 24px;
		min-width: 24px;
		min-height: 24px;
		background-color: gray;
		border-radius: 30px;
	}
	&__project {
		text-align: left;
		margin: 0;
		max-width: 100%;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
	}
	&__bio {
		& .hero__name,
		& .hero__job {
			margin: 0;
			text-align: left;
		}
	}
	&__name {
		font-size: 18px;
		line-height: 120%;
	}
	&__job {
		font-size: 14px;
		line-height: 120%;
		color: #717171;
	}
	&__mark {
		&-plus {
			color: #28a745;
		}
		&-minus {
			color: #dc3545;
		}
	}
	&__time {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			left: -11px;
			background: #c2c2c2;
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		&__project {
			-webkit-line-clamp: 4;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__container {
			&-project {
				flex-direction: column;
				align-items: flex-start;
				justify-content: unset;
			}
		}
		&__cell {
			padding: 8px;
		}
		&__project {
			-webkit-line-clamp: 5;
		}
		&__time {
			&::before {
				display: none;
			}
		}
	}
}
