<section class="hero">
	<div class="container hero__container">
		<!-- <div class="button__container">
			<button class="btn-reset button__primary">Подробнее</button>
			<button class="btn-reset button__primary">Написать</button>
		</div>
		<div class="button__container button__container-negative">
			<button class="btn-reset button__primary button__primary-negative">Написать</button>
			<button class="btn-reset button__primary button__primary-negative">Подробнее</button>
		</div> -->
		<table class="hero__table">
			<tbody class="hero__body">
				<tr class="hero__row">
					<th class="hero__cell">Проекты</th>
					<th class="hero__cell">Сотрудник</th>
					<th class="hero__cell">Часы</th>
					<th class="hero__cell">Старт</th>
					<th class="hero__cell">Оценки</th>
				</tr>
				<tr class="hero__row">
					<th class="hero__cell hero__cell-project">
						<div class="hero__container-project">
							<p class="hero__project">
								Б24 Название проекта 1 Далеко-далеко за словесными горами в стране гласных, и согласных
								живут рыбные тексты.
							</p>
							<span class="hero__time">103:25</span>
						</div>
					</th>
					<th class="hero__cell hero__cell-person">
						<div class="hero__container-person">
							<div class="hero__avatar"></div>
							<div class="hero__bio">
								<p class="hero__name">Валентина Стефаншина</p>
								<p class="hero__job">Менеджер проектов</p>
							</div>
						</div>
					</th>
					<th class="hero__cell hero__cell-time">298:20</th>
					<th class="hero__cell hero__cell-start">19.01.2023</th>
					<th class="hero__cell hero__cell-marks">
						<span class="hero__mark hero__mark-minus">3</span> /
						<span class="hero__mark hero__mark-plus">10</span>
					</th>
				</tr>
				<tr class="hero__row">
					<th class="hero__cell hero__cell-project">
						<div class="hero__container-project">
							<p class="hero__project">Б24 Название проекта 1</p>
							<span class="hero__time">103:25</span>
						</div>
					</th>
					<th class="hero__cell hero__cell-person">
						<div class="hero__container-person">
							<div class="hero__avatar"></div>
							<div class="hero__bio">
								<p class="hero__name">Валентина Стефаншина</p>
								<p class="hero__job">Менеджер проектов</p>
							</div>
						</div>
					</th>
					<th class="hero__cell hero__cell-time">298:20</th>
					<th class="hero__cell hero__cell-start">19.01.2023</th>
					<th class="hero__cell hero__cell-marks">
						<span class="hero__mark hero__mark-minus">3</span> /
						<span class="hero__mark hero__mark-plus">10</span>
					</th>
				</tr>
				<tr class="hero__row">
					<th class="hero__cell hero__cell-project">
						<div class="hero__container-project">
							<p class="hero__project">Б24 Название проекта 1 Далеко-далеко за словесными горами</p>
							<span class="hero__time">103:25</span>
						</div>
					</th>
					<th class="hero__cell hero__cell-person">
						<div class="hero__container-person">
							<div class="hero__avatar"></div>
							<div class="hero__bio">
								<p class="hero__name">Валентина Стефаншина</p>
								<p class="hero__job">Менеджер проектов</p>
							</div>
						</div>
					</th>
					<th class="hero__cell hero__cell-time">298:20</th>
					<th class="hero__cell hero__cell-start">19.01.2023</th>
					<th class="hero__cell hero__cell-marks">
						<span class="hero__mark hero__mark-minus">3</span> /
						<span class="hero__mark hero__mark-plus">10</span>
					</th>
				</tr>
			</tbody>
		</table>
	</div>
</section>
